extends ./layout

block content
  .row
    .col-md-12
      h1
        | Welcome to #{applicationName}
      p.lead
        | We will use this sample project to explore different database systems using Node.js, express, MongoDB, Redis and MySQL.
